<%= form_with(model: message) do |form| %>
  <% if message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :index, style: "display: block" %>
    <%= form.number_field :index %>
  </div>

  <div>
    <%= form.label :msg_hash, style: "display: block" %>
    <%= form.text_field :msg_hash %>
  </div>

  <div>
    <%= form.label :root, style: "display: block" %>
    <%= form.text_field :root %>
  </div>

  <div>
    <%= form.label :channel, style: "display: block" %>
    <%= form.text_field :channel %>
  </div>

  <div>
    <%= form.label :from_chain_id, style: "display: block" %>
    <%= form.number_field :from_chain_id %>
  </div>

  <div>
    <%= form.label :from, style: "display: block" %>
    <%= form.text_field :from %>
  </div>

  <div>
    <%= form.label :to_chain_id, style: "display: block" %>
    <%= form.number_field :to_chain_id %>
  </div>

  <div>
    <%= form.label :to, style: "display: block" %>
    <%= form.text_field :to %>
  </div>

  <div>
    <%= form.label :block_number, style: "display: block" %>
    <%= form.number_field :block_number %>
  </div>

  <div>
    <%= form.label :block_timestamp, style: "display: block" %>
    <%= form.number_field :block_timestamp %>
  </div>

  <div>
    <%= form.label :transaction_hash, style: "display: block" %>
    <%= form.text_field :transaction_hash %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.number_field :status %>
  </div>

  <div>
    <%= form.label :encoded, style: "display: block" %>
    <%= form.text_area :encoded %>
  </div>

  <div>
    <%= form.label :from_network_id, style: "display: block" %>
    <%= form.number_field :from_network_id %>
  </div>

  <div>
    <%= form.label :to_network_id, style: "display: block" %>
    <%= form.number_field :to_network_id %>
  </div>

  <div>
    <%= form.label :dispatch_transaction_hash, style: "display: block" %>
    <%= form.text_field :dispatch_transaction_hash %>
  </div>

  <div>
    <%= form.label :dispatch_block_number, style: "display: block" %>
    <%= form.number_field :dispatch_block_number %>
  </div>

  <div>
    <%= form.label :dispatch_block_timestamp, style: "display: block" %>
    <%= form.number_field :dispatch_block_timestamp %>
  </div>

  <div>
    <%= form.label :clear_transaction_hash, style: "display: block" %>
    <%= form.text_field :clear_transaction_hash %>
  </div>

  <div>
    <%= form.label :clear_block_number, style: "display: block" %>
    <%= form.number_field :clear_block_number %>
  </div>

  <div>
    <%= form.label :clear_block_timestamp, style: "display: block" %>
    <%= form.number_field :clear_block_timestamp %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
