  <tr id="<%= dom_id message %>" class="border-b dark:border-neutral-500">
    <td class="whitespace-nowrap px-6 py-2"><%= Time.at(message.block_timestamp) %></td>
    <td class="whitespace-nowrap px-6 py-2"><%= message.direction %></td>
    <td class="whitespace-nowrap px-6 py-2 font-medium"><%= message.index %></td>
    <td class="whitespace-nowrap px-6 py-2"><%= block_link(message.from_network, message.block_number) %></td>
    <td class="whitespace-nowrap px-6 py-2"><%= md_short(message.msg_hash) %></td>
    <td class="whitespace-nowrap px-6 py-2"><%= md_short(message.root) %></td>
    <td class="whitespace-nowrap px-6 py-2"><%= address_link_short(message.from_network, message.from) %></td>
    <td class="whitespace-nowrap px-6 py-2"><%= address_link_short(message.to_network, message.to) %></td>
    <td class="whitespace-nowrap px-6 py-2">
      <div class="<%= status_style(message.status) %>">
        <%= message.status_label %>
      </div>
    </td>
    <td class="whitespace-nowrap px-6 py-2"><%= link_to "Detail", message, class: "underline" %></td>
  </tr>
