<!DOCTYPE html>
<html>
  <head>
    <title>Ormpscan2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag 'tw-elements.umd.min', 'data-turbo-track': 'reload', type: "module" %>
  </head>

  <body>
    <div class="flex flex-col">
      <header class="p-4 text-2xl text-center" style="font-family: system-ui">
        <a href="/">ORMP Messages Explorer</a>
      </header>
      <main class="h-90 flex-1 px-4">
        <%= yield %>
      </main>
    </div>

  </body>
</html>
